/* Navbar.css */

.nav-link {
    margin: 0 1rem; 
    padding: 0.5rem 1rem; 
    
    border-radius: 0.5rem; 
 
    text-decoration: none; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
  }

  .nav-link:hover {
    background-color: blue; 
    border-color: white; 
    color: white; 
  }
  